/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #7effdb;
  --color-lose: #f73859;
  --color-start: #574b90;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

button:hover {
  transform: scale(1.2);
}

button:focus {
  outline: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  margin-top: 1em;
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background-color: #48e6b1;
  font-family: 'Roboto', sans-serif;
  transition: transform .6s ease-in-out;
  transform: rotate(360deg);
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #303a52;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.match {
  background-color: #ff6f3c;
  color: #FFFFFF;

}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #fab57a;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px rgba(255, 182, 122, 0.493);
  font-size: var(--font-size-medium);
}

.built-using {
  margin-top: 5em;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  margin-bottom: -20em;
}

.built-using .javascript {
  display: inline-block;
  margin-top: 1em;
  padding: 10px;
  border-radius: 10px;
  color: #FFF;
  background-color: rgb(207, 52, 104);
  transition: transform .2s ease-in-out;
  
}

.built-using .javascript:hover {
  transform: scale(1.1);
}

.built-using .javascript a {
  text-decoration: none;
}

.built-using img {
  margin-left: .5em;
}

.git {
  width: 20px;
}

.tries {
  transition: transform .2s ease-in-out;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 100;
}

#scoreboard ol li img{
  height: 35px;
  width: 30px;
}

.title {
  color: #FFF;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.btn_lose {
  background-color: #FFF;
  box-shadow: 2px 2px 1px 1px rgba(255, 255, 255, 0.493);
}

.lose a {
  color: var(--color-lose);
}

a:link, a:visited {
  color: #FFF;
}